GEOSldas.GRID_TYPE:                 LatLon
GEOSldas.GRIDNAME:                  SMAP-EASEv2-M09
GEOSldas.LM:                        1
GEOSldas.POLE:                      PE
GEOSldas.DATELINE:                  DE
GEOSldas.IM_WORLD:                  3856
GEOSldas.JM_WORLD:                  1624
NX:                                 120
NY:                                 1
GEOSldas.IMS_FILE:                  IMS.rc
DYCORE:                             none
LM:                                 1
FIRST_ENS_ID:                       0
MAPL_ENABLE_BOOTSTRAP:              YES
SURFLAY:                            50.0
LSM_CHOICE:                         1
CHOOSEMOSFC:                        0
Z0_FORMULATION:                     4
PRECIPFRAC:                         1.
USE_ASCATZ0:                        0
AEROSOL_DEPOSITION:                 0
RUN_IRRIG:                          0
IRRIG_METHOD:                       0
RUN_ROUTE:                          0
RRM_DT:                             3600
DTCN:                               5400
ATM_CO2:                            2
CO2:                                350.e-6
PRESCRIBE_DVG:                      0
SCALE_ALBFPAR:                      0
CATCHMENT_OFFLINE:                  1
N_CONST_LAND4SNWALB:                0
PERTURBATIONS:                      1
LDAS_logit:                         YES
SURFRC:                             LDAS.rc
MET_HINTERP:                        1
LAND_ASSIM:                         YES
LAND_PARAMS:                        NRv7.2
MET_TAG:                            <L4_SM_MET_TAG>
MET_PATH:                           <L4_SM_MET_PATH>
FORCE_DTSTEP:                       3600
ENS_ID_WIDTH:                       4
LANDASSIM_DT:                       10800
LANDASSIM_T0:                       000000
GREEN_FILE: green.data <L4_SM_BCS_CLSM_OUT_DIR>/green_clim_3856x1624_DE.data
LAI_FILE:   lai.data   <L4_SM_BCS_CLSM_OUT_DIR>/lai_clim_3856x1624_DE.data
NDVI_FILE:  ndvi.data  <L4_SM_BCS_CLSM_OUT_DIR>/ndvi_clim_3856x1624_DE.data
NIRDF_FILE: nirdf.data <L4_SM_BCS_CLSM_OUT_DIR>/nirdf_3856x1624_DE.dat
VISDF_FILE: visdf.data <L4_SM_BCS_CLSM_OUT_DIR>/visdf_3856x1624_DE.dat
LANDASSIM_INTERNAL_RESTART_FILE:    <L4_SM_BCS_RTM_OUT_DIR>/mwRTM_param.nc4
LANDASSIM_INTERNAL_RESTART_TYPE:    pnc4
CATCH_INTERNAL_RESTART_FILE:  catch_internal_rst.ens%%%%s.%Y%m%d_0000 <L4_SM_RST_DIR>/ens%%%%s/Y%Y/M%m/<L4_SM_STREAM_version>.catch_internal_rst.%Y%m%d_0000
CATCH_INTERNAL_RESTART_TYPE:        pnc4
VEGDYN_INTERNAL_RESTART_FILE: vegdyn_internal_rst.ens%%%%s.%Y%m%d_0000 <L4_SM_RST_DIR>/ens%%%%s/<L4_SM_STREAM_version>.vegdyn_internal_rst
VEGDYN_INTERNAL_RESTART_TYPE:       binary
LANDPERT_INTERNAL_RESTART_FILE: landpert_internal_rst.ens%%%%s.%Y%m%d_0000 <L4_SM_RST_DIR>/ens%%%%s/Y%Y/M%m/<L4_SM_STREAM_version>.landpert_internal_rst.%Y%m%d_0000
LANDPERT_INTERNAL_RESTART_TYPE: pnc4
CATCH_INTERNAL_CHECKPOINT_FILE:  catch_internal_rst.ens%%%%s.%%Y%%m%%d_0000  <L4_SM_RST_DIR>/ens%%%%s/Y%%Y/M%%m/<L4_SM_STREAM_version>.catch_internal_rst.%%Y%%m%%d_0000
CATCH_INTERNAL_CHECKPOINT_TYPE:    pnc4
LANDPERT_INTERNAL_CHECKPOINT_FILE: landpert_internal_rst.ens%%%%s.%%Y%%m%%d_0000 <L4_SM_RST_DIR>/ens%%%%s/Y%%Y/M%%m/<L4_SM_STREAM_version>.landpert_internal_rst.%%Y%%m%%d_0000
LANDASSIM_OBSPERTRSEED_RESTART_TYPE: pnc4
LANDASSIM_OBSPERTRSEED_RESTART_FILE: landassim_obspertrseed_rst.ens%%%%s.%Y%m%d_0000 <L4_SM_RST_DIR>/ens%%%%s/Y%Y/M%m/<L4_SM_STREAM_version>.landassim_obspertrseed_rst.%Y%m%d_0000
LANDASSIM_OBSPERTRSEED_CHECKPOINT_TYPE: pnc4
LANDASSIM_OBSPERTRSEED_CHECKPOINT_FILE: landassim_obspertrseed_rst.ens%%%%s.%%Y%%m%%d_0000 <L4_SM_RST_DIR>/ens%%%%s/Y%%Y/M%%m/<L4_SM_STREAM_version>.landassim_obspertrseed_rst.%%Y%%m%%d_0000
NUM_LDAS_ENSEMBLE:                  24
OUT_PATH:                           <L4_SM_MODEL_OUTPUT_DIR>
EXP_ID:                             SPL4SM_<L4_SM_VersionID>
TILING_FILE:                        <L4_SM_BCS_CLSM_OUT_DIR>/MAPL_SMAP_EASEv2_M09_3856x1624.til
