 &corrector

   in_file = '<LFO_TAVG_FILENAME_TEMPLATE>'

   out_file = '<LFO_CORR_FILENAME_TEMPLATE>'

   cpcu_file = '<CPCU_PRECIP_FILENAME_TEMPLATE>'

   cpcu_scale_file = '<CPCU_SCALE_FILE>'

   eod_file = '<CPCU_EOD_FILE>'

   mask_file = '<AFRICA_MASK_FILE>'

   exclude_africa = <PCORR_EXCLUDE_AFRICA>

   latitude_tapering = <PCORR_LATITUDE_TAPERING>

   maskout = <PCORR_MASKOUT>

   exchange_dlon = <PCORR_EXCHANGE_DLON>

   exchange_dlat = <PCORR_EXCHANGE_DLAT> /

 &VarInfoNamelist

   varInfo(1)%vname = 'PRECLS'
   varInfo(1)%vTitle = 'total_precipitation'
   varInfo(1)%standardName = 'total_precipitation'
   varInfo(1)%vUnits = 'kg m-2 s-1'
   varInfo(1)%amiss = 1.0e+15
   varInfo(1)%scaleFactor = 1.0
   varInfo(1)%addOffSet = 0.0
   varInfo(1)%validRange = -1.0e+15,1.0e+15

   varInfo(2)%vname = 'PRECSNO'
   varInfo(2)%vTitle = 'snowfall'
   varInfo(2)%standardName = 'snowfall'
   varInfo(2)%vUnits = 'kg m-2 s-1'
   varInfo(2)%amiss = 1.0e+15
   varInfo(2)%scaleFactor = 1.0
   varInfo(2)%addOffSet = 0.0
   varInfo(2)%validRange = -1.0e+15,1.0e+15

   varInfo(3)%vname = 'PRECCU'
   varInfo(3)%vTitle = 'Surface Conv. rain flux needed by land'
   varInfo(3)%standardName = 'Surface Conv. rain flux needed by land'
   varInfo(3)%vUnits = 'kg m-2 s-1'
   varInfo(3)%amiss = 1.0e+15
   varInfo(3)%scaleFactor = 1.0
   varInfo(3)%addOffSet = 0.0
   varInfo(3)%validRange = -1.0e+15,1.0e+15 /

 &GlobalAttrNamelist

   globalAttr%title = '<PCORR_title>'
   globalAttr%history = '<PCORR_history>'
   globalAttr%convention = '<PCORR_convention>'
   globalAttr%institution = '<PCORR_institution>'
   globalAttr%contact = '<PCORR_contact>'
   globalAttr%references = '<PCORR_references>'
   globalAttr%source = '<PCORR_source>'
   globalAttr%comment = '<PCORR_comment>' /
