
* * -f -rf 3600

20150331 20150430 -define L4_C_LFO_version=e5130_fp -define L4_C_LFO_changeLog="Initial version"

20150501 * -define L4_C_LFO_version=e5131_fp -define L4_C_LFO_changeLog="GEOS-5 FP stream changed to e5131_fp"

* 20151025 -define L4_C_SPL4SMGP_version=Vb1010 -define L4_C_SPL4SMGP_changeLog="Initial version"

20151026 * -define L4_C_SPL4SMGP_version=Vb1012 -define L4_C_SPL4SMGP_changeLog="L4_SM stream changed to Vb1012"
