
20211021 20211026 -rf 3600 -f -define MIN_CRID=R17000 -define MAX_CRID=R17999

20211027 20211102 -rf 3600 -f -define MIN_CRID=R17000

20211103 * -rf 3600 -export -define MIN_CRID=R18000

20211027 20220508 -define L4_SM_PRECIP_version=CPCUFLK_IMERGLateV06b_fp_v1 -define L4_SM_PRECIP_changeLog="Precipitation correction changed to first-look mode."

20220509 * -define L4_SM_PRECIP_version=CPCUFLK_IMERGLateV06c_fp_v1 -define L4_SM_PRECIP_changeLog="IMERG Late Version Changed to V06C"

20220806 * -f

20220916 * -pause
