EXPID: <L4_SM_STREAM_version>
EXPDSC: GEOSldas_output
EXPSRC: <L4_SM_SWVersionID>

COLLECTIONS:
            'inst1_1d_lnr_Nt'
            'tavg3_1d_lnr_Nt'
            'SMAP_L4_SM_gph'
           ::

  inst1_1d_lnr_Nt.descr:       'Tile-space,1-Hourly,Instantaneous,Single-Level,Simulation,Land Surface Diagnostics',
  inst1_1d_lnr_Nt.template:    '%y4%m2%d2_%h2%n2z.bin',
  inst1_1d_lnr_Nt.mode:        'instantaneous',
  inst1_1d_lnr_Nt.frequency:   010000,
  inst1_1d_lnr_Nt.ref_time:    000000,
  inst1_1d_lnr_Nt.fields:      'TPSURF'                          , 'ENSAVG'      , 'surface_temp'                      ,
                               'TSOIL1TILE'                      , 'ENSAVG'      , 'soil_temp_layer1'                  ,
                               'TPSNOW'                          , 'ENSAVG'      , 'snow_temp_layer1'                  ,
                               'TB_LAND_1410MHZ_40DEG_HPOL'      , 'LANDASSIM'   , 'tb_h'                              ,
                               'TB_LAND_1410MHZ_40DEG_VPOL'      , 'LANDASSIM'   , 'tb_v'                              ,
                               ::

  tavg3_1d_lnr_Nt.descr:       'Tile-space,3-Hourly,Time-Averaged,Single-Level,Simulation,Land Surface Diagnostics',
  tavg3_1d_lnr_Nt.template:    '%y4%m2%d2_%h2%n2z.bin',
  tavg3_1d_lnr_Nt.mode:        'time-averaged',
  tavg3_1d_lnr_Nt.frequency:   030000,
  tavg3_1d_lnr_Nt.ref_time:    000000,
  tavg3_1d_lnr_Nt.fields:      'WCSF'       , 'ENSAVG'      , 'sm_surface'                        ,
                               'WCRZ'       , 'ENSAVG'      , 'sm_rootzone'                       ,
                               'WCPR'       , 'ENSAVG'      , 'sm_profile'                        ,
                               'TSOIL1TILE' , 'ENSAVG'      , 'soil_temp_layer1'                  ,
                               ::

  SMAP_L4_SM_gph.descr:        'Tile-space,3-Hourly,Time-Averaged,Single-Level,Simulation,SMAP L4_SM Land Geophysical Diagnostics',
  SMAP_L4_SM_gph.template:     '%y4%m2%d2_%h2%n2z.bin',
  SMAP_L4_SM_gph.mode:         'time-averaged',
  SMAP_L4_SM_gph.frequency:    030000,
  SMAP_L4_SM_gph.ref_time:     000000,
  SMAP_L4_SM_gph.fields:       'WCSF'       , 'ENSAVG'      , 'sm_surface'                        ,
                               'WCRZ'       , 'ENSAVG'      , 'sm_rootzone'                       ,
                               'WCPR'       , 'ENSAVG'      , 'sm_profile'                        ,
                               'WET1'       , 'ENSAVG'      , 'sm_surface_wetness'                ,
                               'WET2'       , 'ENSAVG'      , 'sm_rootzone_wetness'               ,
                               'WET3'       , 'ENSAVG'      , 'sm_profile_wetness'                ,
                               'TPSURF'     , 'ENSAVG'      , 'surface_temp'                      ,
                               'TSOIL1TILE' , 'ENSAVG'      , 'soil_temp_layer1'                  ,
                               'TSOIL2TILE' , 'ENSAVG'      , 'soil_temp_layer2'                  ,
                               'TSOIL3TILE' , 'ENSAVG'      , 'soil_temp_layer3'                  ,
                               'TSOIL4TILE' , 'ENSAVG'      , 'soil_temp_layer4'                  ,
                               'TSOIL5TILE' , 'ENSAVG'      , 'soil_temp_layer5'                  ,
                               'TSOIL6TILE' , 'ENSAVG'      , 'soil_temp_layer6'                  ,
                               'SNOWMASS'   , 'ENSAVG'      , 'snow_mass'                         ,
                               'SNOWDP'     , 'ENSAVG'      , 'snow_depth'                        ,
                               'EVLAND'     , 'ENSAVG'      , 'land_evapotranspiration_flux'      ,
                               'RUNSURF'    , 'ENSAVG'      , 'overland_runoff_flux'              ,
                               'BASEFLOW'   , 'ENSAVG'      , 'baseflow_flux'                     ,
                               'SMLAND'     , 'ENSAVG'      , 'snow_melt_flux'                    ,
                               'QINFIL'     , 'ENSAVG'      , 'soil_water_infiltration_flux'      ,
                               'FRSAT'      , 'ENSAVG'      , 'land_fraction_saturated'           ,
                               'FRUST'      , 'ENSAVG'      , 'land_fraction_unsaturated'         ,
                               'FRWLT'      , 'ENSAVG'      , 'land_fraction_wilting'             ,
                               'ASNOW'      , 'ENSAVG'      , 'land_fraction_snow_covered'        ,
                               'SHLAND'     , 'ENSAVG'      , 'heat_flux_sensible'                ,
                               'LHLAND'     , 'ENSAVG'      , 'heat_flux_latent'                  ,
                               'GHLAND'     , 'ENSAVG'      , 'heat_flux_ground'                  ,
                               'SWLAND'     , 'ENSAVG'      , 'net_downward_shortwave_flux'       ,
                               'LWLAND'     , 'ENSAVG'      , 'net_downward_longwave_flux'        ,
                               'SWDOWNLAND' , 'ENSAVG'      , 'radiation_shortwave_downward_flux' ,
                               'LWDNSRF'    , 'ENSAVG'      , 'radiation_longwave_absorbed_flux'  ,
                               'RainfSnowf' , 'ENSAVG'      , 'precipitation_total_surface_flux'  ,
                               'SNO'        , 'ENSAVG'      , 'snowfall_surface_flux'             ,
                               'PS'         , 'ENSAVG'      , 'surface_pressure'                  ,
                               'DZ'         , 'ENSAVG'      , 'height_lowatmmodlay'               ,
                               'TA'         , 'ENSAVG'      , 'temp_lowatmmodlay'                 ,
                               'QA'         , 'ENSAVG'      , 'specific_humidity_lowatmmodlay'    ,
                               'UU'         , 'ENSAVG'      , 'windspeed_lowatmmodlay'            ,
                               'GRN'        , 'VEGDYN'      , 'vegetation_greenness_fraction'     ,
                               'LAI'        , 'VEGDYN'      , 'leaf_area_index'                   ,
                               ::

