
* * -rf 3600

20150501 20170124 -define L4_C_LFO_version=e5131_fp -define L4_C_LFO_changeLog="GEOS-5 FP stream changed to e5131_fp"

20170125 *  -define L4_C_LFO_version=f516_fp -define L4_C_LFO_changeLog="GEOS-5 FP stream changed to f516_fp"
